/* Navigation bar */
nav {
    background-color: #272343;
    padding: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 50px;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

nav li {
    float: center;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 25px;
}

nav li a:hover {
    background-color: #433d69 ;
}

.logo {
    position: fixed;
    left: 50;
    top: 0;
    bottom: 0;
    width: 160px; 
    height: 120px;
    margin-top: 7px;
}

.active {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #272343;
    color: white;
    text-align: center;
    padding: 30px;
    line-height: 30%;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
}

#editor:active {
    text-decoration:solid;
}
  
/* Main page */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 30px;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.column {
    flex: 1;
    margin: 15px;
    max-width: 400px;
}

.column img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.column img:hover {
    transform: scale(1.05);
}

.column figcaption {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    color: #272343;
}