/* Navigation bar */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: #272343;
    padding: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 50px;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

nav li {
    float: center;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 25px;
}

nav li a:hover {
    background-color: #433d69 ;
}

.logo {
    position: fixed;
    left: 50;
    top: 0;
    bottom: 0;
    width: 160px; 
    height: 120px;
    margin-top: 7px;
}

.active {
    text-decoration: underline;
}

.bg-image {
    height: 100%;
    /* The image used */
    background-image: url("../homepage_img.jpg");
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* Footer */
footer {
    background-color: #272343;
    color: white;
    text-align: center;
    padding: 30px;
    line-height: 30%;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
}

#editor:active {
    text-decoration:solid;
}
  
/* Main page */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 30px;
}
  
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
.column {
    margin: 10px;
}
  
.column img {
    margin: 20px 20px;
    float: left; 
    width: 520px;
    height: 320px;
    border-radius: 15px;  /* Rounded corners */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  /* Drop shadow */
    transition: transform 0.2s;  /* Smooth transition for hover effect */
    border: 3px;
    border-radius: 5px;
}

.column img:hover {
    transform: scale(1.05);  /* Scale up the image on hover */
}

.column figcaption {
    font-size: 16px;
    text-align: center;
    font-weight: 550;
    font-size: large;
}
